@import url('https://fonts.googleapis.com/css?family=Rubik');

:root {
    --bg-color: #121212;
    --bg-accent: #1a1a1a;
    --text-color: #b3b3b3;
    --header-text-color: #fff;
    --secondary-color: #91b7c7;
    --sitewide-font: 'Rubik'
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--sitewide-font), Helvetica, sans-serif;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1.5em 0;
    margin: auto;
    max-width: 75%;
}

.main-img {
    border-radius: 5px;
    margin-top: 1em;
    margin-right: auto;
    margin-bottom: 1em;
    margin-left: auto;
    max-width: 100%;
}

h1 {
    margin-top: 1em;
    margin-bottom: 1em;
    text-shadow: 0 0 8px var(--secondary-color);
    color: var(--header-text-color);
}

h2 {
    margin-top: 1em;
    margin-bottom: 0.5em;
    text-shadow: 0 0 8px var(--secondary-color);
    color: var(--header-text-color);
}

a {
    color: var(--secondary-color);
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #fff;
}

figure {
    font-size: 0.75em;
}

.recipe-container {
    background-color: var(--bg-accent);
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    box-shadow: 7px 7px 5px #000;
    text-align: center;
    margin-top: 2em;
    margin-right: auto;
    margin-bottom: 3em;
    margin-left: auto;
    padding: 1em 1em;
    width: 75%;
}

.recipe-container ul {
    padding: 1em;
}

.recipe-container li {
    list-style: none;
    line-height: 3em;
}

.desc-section {
    width: 80%;
    margin: 1.5em auto;
}

#video-container {
    display: flex;
    justify-content: center;
    margin: 1.5em 0;
}

#video {
    max-width: 640px;
    width: 100%;
}

.ingredients-and-steps {
    background-color: var(--bg-accent);
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    box-shadow: 7px 7px 5px #000;
    padding: 1em 0 3em 0;
    margin-top: 1em;
    margin-right: auto;
    margin-bottom: 3em;
    margin-left: auto;
    width: 80%;
}

.ingredients-and-steps ul {
    text-align: left;
    margin: auto 20%;
}

.ingredients-and-steps ol {
    text-align: left;
    margin: auto 20%;
}

.ingredients-and-steps li {
    line-height: 2em;
}

footer {
    bottom: 0;
    width: 100%;
    padding: 0 20px;
    min-height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top: 1px solid var(--secondary-color)
}