@import url('https://fonts.googleapis.com/css?family=Rubik');

:root {
    --bg-color: #121212;
    --bg-accent: #1a1a1a;
    --text-color: #b3b3b3;
    --header-text-color: #fff;
    --link-color: #91b7c7;
    --shadow-color: #91b7c7;
    --sitewide-font: 'Rubik'
}

body {
    box-sizing: border-box;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--sitewide-font), Helvetica, sans-serif;
}

.container {
    /* bg color for the sake of debugging */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1.5em 0;
    margin: auto;
    max-width: 75%;
}

#main-img {
    border-radius: 5px;
    margin: auto;
    max-width: 100%;
}

h1, h2 {
    text-shadow: 0 0 8px var(--shadow-color);
    color: var(--header-text-color);
}

a {
    color: var(--link-color);
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #fff;
}

figure {
    font-size: 0.75em;
}

#recipe-container {
    background-color: var(--bg-accent);
    border-radius: 5px;
    text-align: center;
    margin: auto;
    width: 75%;
}

ul {
    margin: auto;
    padding: 0 1em 1em;
}

li {
    list-style: none;
    padding: 1em 0;
}